# Ignore WordPress core files
/wp-admin/
/wp-includes/
/wp-content/plugins/
/wp-content/uploads/
/wp-content/themes/twentytwentyone/
/wp-content/themes/twentytwentythree/

# Ignore system files
.DS_Store
Thumbs.db
